<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="dao.QuestionDaoImpl">
        <constructor-arg name="resourceLocation" value="Questions.csv"></constructor-arg>
    </bean>
    <bean id="question" class="service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"></constructor-arg>
    </bean>
    <bean id="console" class="service.ConsoleService">
    </bean>
    <bean id="executor" class="executor.TestingAppImpl">
        <constructor-arg name="service" ref="question"></constructor-arg>
        <constructor-arg name="consoleService" ref="console"></constructor-arg>
    </bean>
</beans>